/* This file is part of the House System - https://houses.for.education/
//
// The House System is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// The House System is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with The House System. If not, see <http://www.gnu.org/licenses/>.*/

body {
  background-image: url(./D_52.svg); /*Attribution - <a href="https://www.vecteezy.com/free-vector/spring-background">Spring Background Vectors by Vecteezy</a>*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  font-size: 16px;
}

.card {
  box-shadow: 3px 3px 3px black;
  background-color: rgba(255, 255, 255, 0.7);
}

.fixed-nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.navbar-spacer {
  height: 6em;
}

#basic-nav-dropdown {
  background-color: black;
}

.navbar-light .dropdown-menu.show {
  border: none;
  max-height: 99vh;
  overflow: auto;
}

.navbar-light .dropdown-menu.show a {
  color: #343a40;
}

.navbar-light .dropdown-menu.show a:hover {
  color: #343a40;
}

.navbar-dark {
  margin-bottom: 10px;
}

.stuCard {
  margin-bottom: 1em;
  background-color: #f1f1f1;
  padding: 2px;
  height: 103px;
  overflow: hidden;
}

.stuCard .card-subtitle {
  color: gray;
}

.stu-card-body {
  padding: 0.5em;
  overflow: hidden;
}

.stu-card-btn {
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.centered {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.studentCards {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.student-card-spacer {
  margin-left: 120px;
}

.flexBox {
  display: flex;
}

.flexBox.categories {
  align-self: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.categories {
  text-align: center;
  width: 40%;
  display: inline-block;
  margin: 0 0.5rem;
}

.category-badge {
  border: 1px solid black;
  align-self: center;
  box-shadow: 3px 3px 3px #1b1b1b;
  padding: 0.8rem 0;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.15s;
  max-width: 30rem;
  font-size: 0.6rem;
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.category-badge:hover {
  transform: scale(1.04);
  box-shadow: 2px 2px 2px #1b1b1b;
}

.category-badge:active {
  transform: scale(1.02);
  box-shadow: 1px 1px 1px #1b1b1b;
}

.categories-badge-active {
  border: 3px solid gold;
}

.flexbox-responsive {
  display: flex;
}

.navbar-dark-link {
  color: #343a40;
}

.navbar-dark-link:hover {
  color: #343a40;
}

.student-info {
  margin-top: 20px;
}

.points-display {
  margin-top: 20px;
}

.pointCards {
  display: inline-block;
  overflow-y: auto;
  transition: 0.5s;
  margin-right: 1em;
}

.hover-dark {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.nav-item {
  margin-right: 20px;
}

link.nav-head {
  color: rgba(0, 0, 0, 0.5);
}

.login-card {
  margin-top: 30px;
}

.nav-camera {
  padding: 10px;
  border-radius: 300px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #343a40;
  color: rgba(3, 2, 2, 0.5);
}

.navbar-full-width {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-wrapper {
  height: 1em;
}

.search-bar {
  /* padding-bottom: 10px;
  padding-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary); */
  margin-right: 20px;
}

.search-bar form {
  text-align: center;
  display: flex;
}

.search-bar form input {
  display: inline-block;
}

.right-align {
  text-align: right;
}

.card-footer {
  position: absolute;
  bottom: 5px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0);
}

.point-form-student {
  align-self: flex-start;
  margin-left: 20px;
}

.footer-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.65em;
}

.wrapper {
  margin-bottom: 60px;
}

.home-page-title {
  font-size: 2em;
  margin: 20px;
}

.homeName {
  font-size: 1.25em;
}

.homeName.badge {
  text-shadow: 1px 1px 3px gray;
  font-weight: 400;
}

.icon-holder {
  padding-top: 12.5px;
  text-align: center;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  background-color: var(--primary);
  cursor: pointer;
  transition: 0.5s;
}

.icon-holder:hover {
  border: 2px solid red;
}

.icon-holder i {
  background-color: #343a40;
}

.student-pic {
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  max-width: 100px;
  max-height: 100px;
}

.stuPic {
  height: 3em;
  width: 3em;
  top: 0px;
  left: 0.5em;
  overflow: hidden;
  position: static;
  border: 3px solid blue;
  border-radius: 2em;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  margin: auto;
}

.stuPic img {
  height: 100%;
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.student-pic img {
  width: 100%;
  display: block;
}

.student-pic div img {
  width: 100%;
  display: block;
}

.student-pic-spage {
  width: 100px;
  height: 100px;
  border: 3px solid var(--primary);
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}

.student-pic-spage img {
  width: 100%;
}

.student-info-name {
  margin-left: 100px;
}

.buttonHolder {
  text-align: center;
  margin: 30px;
}

.buttonHolder button {
  margin-right: 20px;
  margin-left: 20px;
}

.selector-container {
  background-color: white;
  border: 3px solid black;
  box-shadow: 3px 3px 3px black;
}

.student-selector {
  background-color: skyblue;
  opacity: 0.8;
  color: white;
  padding: 0.5em;
  border: 3px solid black;
  box-shadow: 3px 3px 3px gray;
  border-radius: 10px;
  text-shadow: 3px 3px 3px black;
}

.selector-image-holder {
  box-shadow: 3px 3px 3px gray;
  padding: 20px;
  text-align: center;
  height: 330px;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.selector-points {
  background-color: white;
  color: black;
  text-shadow: 0px 0px 0px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
}

.selector-image {
  height: 100%;
  display: inline;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.selector-button {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 700;
}

.selector-back {
  margin-top: 2em;
  text-align: center;
  display: block;
}

.selector-name {
  text-align: center;
}

.group-index {
  background-color: darkblue;
  color: white;
  text-align: center;
  border: 2px solid white;
  box-shadow: 2px 2px 2px black;
  width: 3em;
  cursor: pointer;
}

.group-table {
  margin-top: 2em;
}

.group-table {
  background-color: white;
}

.showcaseText {
  margin-left: 2em;
}

.showcaseMessage {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 3px black;
  font-style: italic;
}

.showcaseStuCard {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  width: 40%;
}

.group__container {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  margin: 10px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  transform: scale(1.02);
  position: relative;
}

.group__container ul {
  list-style: none;
  position: relative;
  left: 50%;
  transform: translateX(-25%);
}

.password-reset-link {
  text-align: right;
  color: blue;
  display: block;
  margin: 1rem 0;
}

.navtiles__holder {
  text-align: center;
}

.navtiles__tile {
  display: inline-block;
  width: 12rem;
  text-align: center;
  background-color: white;
  padding: 2rem 0;
  border-radius: 3px;
  margin: 2rem 2rem;
  border: 1px solid lightgrey;
  cursor: pointer;
  box-shadow: 3px 3px 3px grey;
  transition: 0.15s;
  translate: scale(1.05);
  color: darkslategray;
  position: relative;
}

.navtiles__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.navtiles__tile:hover {
  translate: scale(1.04);
  box-shadow: 2px 2px 3px grey;
}

.navtiles__tile:active {
  translate: scale(1.02);
  box-shadow: 1px 1px 2px grey;
}

.navtiles__icon {
  font-size: 2rem;
  position: static;
}

.navtabs__holder {
  text-align: center;
}

.navtabs__tab {
  display: inline-block;
  padding: 20px;
  background-color: white;
  border: 1px solid lightgray;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
  transform: scale(1.05);
  transition: 0.15s;
}

.navtabs__tab {
  margin-right: 30px;
}

.navtabs__tab:last-child {
  margin-right: 0px;
}

.navtabs__tab:hover {
  box-shadow: 1px 1px 2px grey;
  transform: scale(1);
}

.userTable {
  width: 100%;
}

.userTable__search {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.userTable__search__input {
  min-width: 40vw;
  position: static;
}

.userTable__search__holder {
  display: inline-block;
}

.userTable__clear {
  margin-left: 5px;
}

.userTable__sort_arrow {
  color: blue;
  cursor: pointer;
  margin: 0 3px;
}

.userTable__inner_list__item {
  list-style: none;
  padding: 0;
}

.userTable__edit {
  color: darkblue;
  cursor: pointer;
}

.password_reset {
  display: inline;
}

.password_reset__icon {
  color: darkblue;
  cursor: pointer;
  position: static;
}

.password-reset__form {
  display: inline-block;
}

.editmodal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 80vh;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
  z-index: 10;
}

.confirmationmodal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  overflow: auto;
  padding: 5rem;
  z-index: 10;
  max-height: 80vh;
  overflow: scroll;
}

.confirmationmodal__buttons {
  margin-top: 2rem;
}

.editmodal__background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.editmodal__close {
  position: absolute;
  right: 10px;
  top: -10px;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}

.editmodal__close:hover {
  transform: scale(1.05);
}

.editmodal__button {
  width: 40%;
  display: inline-block;
  margin: 0px;
}

.editmodal__form {
  width: 80%;
  margin: auto;
}

.pagification {
  text-align: center;
  list-style: none;
  margin-top: 3rem;
}

.pagification__page {
  list-style: none;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  width: 2rem;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.15s;
}

.pagification__page__active {
  background-color: skyblue;
  color: white;
}

.pagification__page:hover {
  transform: scale(1.01);
}

.pagification__page:active {
  transform: scale(1);
  box-shadow: 1px 1px 1px black;
}

@media (max-width: 576px) {
  .hidden-sm-down {
    visibility: hidden;
    height: 0px;
  }
  .student-card-spacer {
    margin-left: 0px;
  }
  .student-card-spacer.badge {
    margin-left: 10em;
  }
}

@media (max-width: 992px) {
  .flexbox-responsive {
    display: block;
  }

  .point-form-student {
    margin-left: 0px;
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .categories {
    width: 100%;
    display: block;
    margin: auto;
  }
}
