node_modules/
/config/default.json
.env.local
pass.csv
tmp/
/srv/images/*.jpg
dump/
/srv/services/emailChange.js
/srv/services/csvGen.js
/srv/services/bulkArchive.js
/srv/routes/triggersLocal.js
/srv/services/commonPass.js
/srv/services/chiStu.js
/srv/services/dataIntegrity.js
/srv/services/nameUpdate.js
/srv/services/chiStu.js
/client/public/runtime-config.js
/client/build
