{
  "mongoURI": "mongodb://localhost/houses",
  "jwtSecret": "secret",
  "mbAPIKey": "123",
  "mbSuffix": "com or cn",
  "apiURL": "",
  "useLL": true/false,
  "llEndPoint": "https://url/data/xAPI",
  "llHead": "Basic abcd",
  "usePSQL": true,
  "psqlURL": "http://localhost:4000/api/points"
}
