{
  "mongoURI": "mongodb://localhost/houses",
  "jwtSecret": "secret",
  "mbAPIKey": "123",
  "mbSuffix": "com or cn",
  "useLL": true/false,
  "llEndPoint": "https://url/data/xAPI",
  "llHead": "Basic abcd",
  "mgURL": "api.mailgun.net/v3/{domain name}",
  "mgAPI": "321",
  "houseURL": "https://your.house.system",
  "orgName": "Your org name"
}
